<div id="RunningTable">
	<%= render "table_contest_index", contests: @running_contest, total_contests: @running_contest_total, type: "Running" %>
</div>
<br>

<div id="CommingTable">
	<%= render "table_contest_index", contests: @comming_contest, total_contests: @comming_contest_total, type: "Comming" %>
</div>
<br>

<div id="PastTable">
	<%= render "table_contest_index", contests: @past_contest, total_contests: @past_contest_total, type: "Past" %>
</div>