<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Sign up</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="full_name">Full Name</label>  
  <div class="col-md-5">
  <input id="full_name" name="full_name" type="text" placeholder="name" class="form-control input-md">
    
  </div>
</div>

<!-- Appended Input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Username</label>
  <div class="col-md-5">
    <div class="input-group">
      <input id="email" name="email" class="form-control" placeholder="example" type="text">
      <span class="input-group-addon">@unal.edu.co</span>
    </div>
    <p class="help-block">Insert your university's username</p>
  </div>
</div>

<!-- Appended Input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email_confirmation">Username confirmation</label>
  <div class="col-md-5">
    <div class="input-group">
      <input id="email_confirmation" name="email_confirmation" class="form-control" placeholder="example" type="text">
      <span class="input-group-addon">@unal.edu.co</span>
    </div>
    <p class="help-block">Confirm your university</p>
  </div>
</div>
<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password_confirmation">Password</label>
  <div class="col-md-5">
    <input id="password_confirmation" name="password_confirmation" type="password" placeholder="******" class="form-control input-md">
    <span class="help-block">At least 6 characters</span>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Password confirmation</label>
  <div class="col-md-5">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="******" class="form-control input-md">
    <span class="help-block">Confirm your password</span>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="register_button"></label>
  <div class="col-md-4">
    <button id="register_button" name="register_button" class="btn btn-primary" type="post">Register</button>
  </div>
</div>

</fieldset>
</form>
